body {
  margin: 0;
  background-color: #151515;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
}

.nav-link {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #f4ce0c;
  }
}

.details-container {
  opacity: 0;
  transition: opacity 500ms linear;

  &.animate {
    opacity: 1;
  }
}

.test-container {
  padding-top: 16px;
  padding-bottom: 25px;
  background-image: url('/src/media/rain_bk2.jpg');
}
