body {
  margin: 0;
  background-color: #151515;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
}

.nav-link {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: #f4ce0c;
  }
}

.details-container {
  opacity: 0;
  transition: opacity 500ms linear;

  &.animate {
    opacity: 1;
  }
}

.test-container {
  padding: 16px 0 25px;
  background-image: url('/src/media/rain_bk2.jpg');
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-text {
  margin-bottom: 30px;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.form-label {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 0 0 0 35px;
  background-color: rgba(242, 243, 243, 0.15);

  &:focus-within {
    background-color: #ffc700;
  }
}

.form-input {
  cursor: pointer;
}

.form-label-text {
  position: relative;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 58px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
}

.test-button {
  margin-left: auto;
  margin-right: auto;
  width: 189px;
  height: 41px;
  background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  border-radius: 20px;
  font-family: 'Merriweather';

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #0d0c11;

  &:disabled {
    color: #8e8e8e;

    background: #dadada;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  }
}
