<header class="header">
  <div class="container header-container">
    <button type="button" class="header-button">
      <svg width="24" height="16">
        <use href="/src/media/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link nav-link" href="/" data-link>Главная</a>
        </li>
        <li class="header-item">
          <a class="header-link nav-link" href="#details" data-link
            >Информация о тесте</a
          >
        </li>
        <li class="header-item">
          <a class="header-link nav-link" href="/start" data-link
            >пройти тест</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
