<header class="header">
  <div class="container">
    <button type="button" class="header-button">
      <svg width="24" height="16">
        <use href="/src/media/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link nav-link" href="#">Главная</a>
        </li>
        <li class="header-item">
          <a class="header-link nav-link" href="#">Информация о тесте</a>
        </li>
        <li class="header-item">
          <a class="header-link nav-link" href="#">пройти тест</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
