<section class="hero">
  <div class="container hero-container">
    <p class="hero-top-text">Пройдите точный и быстрый</p>
    <h1 class="hero-title">
      тест на определение <br />
      IQ
    </h1>
    <a href="/test" data-link class="route-link">пройти тест</a>
    <p class="hero-bottom-text">
      <span class="hero-bottom--accent-text"
        >И получите рекомендации по развитию своего интеллекта</span
      >
      и улучшению финансового благосостояния и личной жизни
    </p>
    <button type="button" data-btn-link class="details-btn">
      <span class="arrow-container"
        ><svg width="7" height="7" class="arrow-icon">
          <use href="/src/media/sprite.svg#icon-arrow"></use></svg
      ></span>
      <span class="details-link-text">Подробнее</span>
    </button>
  </div>
</section>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, ipsa? Dignissimos
velit, assumenda suscipit dolore consequatur sunt nemo laboriosam voluptates
harum obcaecati est dolores tempore consectetur quo voluptatum inventore, neque
delectus. Molestiae distinctio laborum obcaecati modi ipsum ex ut amet sunt,
nostrum facere deleniti, consectetur numquam sed cum nihil optio?
