<section class="description">
  <div class="container description-container">
    <p class="description-text">
      Профессиональный IQ-тест позволяет не только определить коэффициент вашего
      интеллекта, но и выработать список рекомендаций для повышения этого
      показателя.
    </p>
  </div>
</section>
<section class="advice">
  <div class="container advice-container">
    <p class="advice-text">
      Также по результатам теста <span>вы получите</span> подробные
      <span>советы</span> по определению наиболее перспективной
      <span
        >для вашего типа <span class="inner-text">интеллекта</span> сферы
        деятельности</span
      >, которая принесет вам скорейший финансовый результат.
    </p>
    <a href="/test" data-link class="advice-link">пройти тест</a>
  </div>
</section>
<section class="timing">
  <div class="container timing-container">
    <p class="timing-top-text">
      Прохождение теста займет у вас не более <span>12 минут</span>, а его
      результаты вы <span>сможете использовать всю жизнь</span>.
    </p>
    <p class="timing-bottom-text">
      Профессиональная интерпретация и детально
      <span>проработанные рекомендации</span>
      позволят вам качественно <span>изменить все аспекты своей жизни:</span> от
      финансового до любовного.
    </p>
    <a href="/test" data-link class="timing-link">пройти тест</a>
    <p class="footer-text"><span>&#169;</span> 2019</p>
  </div>
</section>
