.hero {
  //   padding-top: 27px;
  //   padding-bottom: 11px;
  //   background-image: url('/src/media/rain_bk.jpg');
  //   background-repeat: no-repeat;
  //   //   background-position: left 0 top;
  //   background-size: cover;
}

.hero-container {
  padding-top: 27px;
  padding-bottom: 11px;
  background-image: url('/src/media/rain_bk.jpg');
  background-repeat: no-repeat;
  //   background-position: 0;
  background-size: cover;
}
.hero-top-text {
  margin-bottom: 40px;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.hero-title {
  margin-bottom: 163px;
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ffc700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 189px;
  height: 41px;
  margin: 0 auto;
  margin-bottom: 22px;
  background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
  border-radius: 20px;

  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #0d0c11;
}
.hero-bottom-text {
  margin-bottom: 11px;
  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}

.hero-bottom--accent-text {
  display: block;
  color: #ffc700;
}

.details-link {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;

  & > .arrow-container {
    transform: rotate(180deg);
    transition: transform 250ms linear;
  }

  &:visited > .arrow-container {
    transform: rotate(0);
  }
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('/src/media/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  transition: transform 250ms linear;

  &.rotate {
    transform: rotate(0);
  }
}

.details-link-text {
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}
