.page1-form {
  margin-top: 100px;
}

.page1-btn {
  margin-top: 150px;
}

.page2-form {
  margin-top: 65px;
}

.page2-btn {
  margin-top: 62px;
}

.page3-form {
  margin-top: 42px;
}

.page3-btn {
  margin-top: 33px;
}

.page4-form {
  margin-top: 28px;
}

.page4-btn {
  margin-top: 29px;
}
