.page1-form {
  margin-top: 100px;
}

.page1-btn {
  margin-top: 150px;
}

.page2-form {
  margin-top: 65px;
}

.page2-btn {
  margin-top: 62px;
}

.page3-form {
  margin-top: 42px;
}

.page3-btn {
  margin-top: 33px;
}

.page4-form {
  margin-top: 28px;
}

.page4-btn {
  margin-top: 29px;
}

.page5-form {
  margin-top: 28px;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.form-label-box {
  position: relative;
}

.form-input-box {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.form-box {
  cursor: pointer;
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: green;

  .form-input-box:checked + & {
    outline: 6px solid #ffc700;
  }
}

.page5-btn {
  margin-top: 34px;
}

.page6-form {
  margin-top: 17px;
}

.page6-btn {
  margin-top: 34px;
}

.page7-form {
  margin-top: 37px;
}

.page7-btn {
  margin-top: 29px;
}

.page8-form {
  margin-top: 17px;
}

.test-text {
  max-width: 290px;
  margin: 0 auto;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.test-image {
  margin: 20px auto 23px;
}

.input-numbers-wrapper {
  display: flex;
  gap: 29px;
  justify-content: center;
}
.form-number-label {
  position: relative;
}
.form-number-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-number-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline-block;
  width: 41px;
  height: 44px;
  background-color: #fff;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 20px;
  line-height: 49px;
  text-align: center;
  text-transform: capitalize;

  color: #0d0c11;

  .form-number-input:checked + & {
    outline: 6px solid #ffc700;
  }
}

.page8-btn {
  margin-top: 35px;
}

.page9-form {
  margin-top: 44px;
}

.p9-form-wrapper {
  display: flex;
  gap: 19px;
  flex-direction: column;
}

.p9-label {
  gap: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 15px;
}
.p9-label-text {
  line-height: 20px;
  text-transform: none;
}

.page9-btn {
  margin-top: 50px;
}

.page10-form {
  margin-top: 17px;
}

.p10-text {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.p10-test-form {
  gap: 0;
}

.p10-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p10-label {
  height: 50px;
  padding-right: 15px;
  gap: 28px;
  align-items: center;
}

.p10-label-text {
  text-transform: none;
  line-height: 17px;
}

.form-container {
  margin-top: 33px;
}

.p11-text {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.p11-image {
  margin-top: 11px;
  margin-bottom: 24px;
}
.p11-line {
  margin-bottom: 19px;
  width: 100%;
  height: 4px;
  background: #f2f3f3;
  opacity: 0.15;
}

.p11-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.page11-btn {
  margin-top: 30px;
}

.loader-container {
  padding-bottom: 190px;
}

.loader-top-text {
  max-width: 230px;
  margin-top: 50px;
  margin-bottom: 33px;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.loader-wrapper {
  width: 70px;
  height: 70px;
  margin: 0 auto 27px;
}
.loader-bottom-text {
  max-width: 276px;
  font-family: 'PT Serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: justify;
}
